---
layout: post
title: Über mich
date: 2008-09-02 10:34:19.000000000 +02:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
---
<p>Da ich ebenfalls Angewandte Informatik an der TU-Dresden studiere, habe ich mich dazu entschlossen aus meiner Geburtsstadt Freiberg (ca 50 km von Dresden weg) an meinen Studienstandort überzusiedeln. Mit 20 Jahren und meinem Geburtstag am 8.11.1987 bin ich derzeit das älteste Mitglied von RPdev, was natürlich nur statistischen Wert hat.</p>
<p><strong>Meine ersten "informatischen" Schritte </strong><br />
Ebenfalls habe ich meine ersten Erfahrungen im Bereich Computer mit dem programmierbaren Schultaschenrechner (Casio CFX-9850G), und somit mit ner stark reduzierten Form von BASIC <em>machen müssen</em>. Mit allerlei Geschick und einem großen Zeitpensum gelang es mir allerlei Programme dafür zu erstellen, dass von kleineren Mathematikprogrammen bis hin zu etwas größeren Spielen gereicht hatte. Hier entdeckte ich auch meine große Leidenschaft für die Entwicklung von Spielen. Wie der Zufall es so will bekam ich, kurze Zeit später darauf, einen einfachen Rechner geschenkt mit dem ich dann so richtig loslegen konnte. Nur hatte ich extreme Startschwierigkeiten. Auch hier half mir der Zufall auf die Sprünge. Durch einen damaligen Freund lernte ich jemanden kennen, der ein wenig mehr Kenntnis darin hatte als ich damals. So begann die harte Zeit wo ich das Programmieren lernen sollte.</p>
<p><strong>Mein erstes Programmierteam </strong><br />
Ich wurde gleich sehr hart rangenommen. C++ war es was es zu lernen gilt. Ich hatte mich mit etwas Lektüre darauf vorbereitet, so war doch die AUsführung am PC wesentlich schwerer. Wie jeder Neuling begann ich einfache Schleifen auf der Konsole zu Programmieren. So verging einige Zeit, in der ich mich dann auch mit der WinAPI und OpenGL beschäftigte, bis es zur Gründung von IriDionS kam, meinem sozusagen ersten Programmierteam. Wir hatten uns zum Ziel gesetzt einen kleinen Shooter zu entwickeln, wohl aber auf Grundlage einer eigenen kleinen Engine, was (wie es schon klingen mag) für zwei leute, wobei einer davon noch recht neu im Metier ist, sehr schwer ist. Das war auch der Grund warum dieses Team kaum von Erfolg gekrönt war. Als dann später auch noch private Spannungen hinzu kamen, löste sich das Team im Jahre 2006 auf. Was aber nicht das Ende meiner "karriere" sein sollte.</p>
<p><strong>Mein Weg bis hierher</strong><br />
Ich hatte mir vorgenommen mein Austieg aus dem Team nicht als Ende zu setzen und began kleine einfachere Projekte, die man notgedrungen auch alleine bewältigen konnte, zu entwerfen. Da ich sehr großes Interesse für 2D Grafiken habe habe ich mich größtenteils mit solchen Spielen beschäftigt. Mit der WinAPI habe ich kleinere Kachelgrafiken gebastelt und mir so ein kleines Gelände geschaffen wo ich meinen held hin und her bewegen konnte. Dies war mir aber nicht genug und ich geriet glücklicherweise wieder in neue formende Hände, zum Entwicklerteam <a href="http://www.7bitfaster.de">7BitFaster</a>. Dieses Team benutzte damals eine sehr beliebte Spieleengine mit dem Namen <a href="http://en.wikipedia.org/wiki/Irrlicht_Engine">Irrlicht</a>. AUch hier währte meine Mitgliedschaft nicht lange da leider Abiturprüfungen vorrang hatten. Aber ich konnte wenigstens einwas für mich mitnehmen: Irrlicht. Bis heute programimere ich auf Grundlage dieser Engine und habe damit viele Projekte angefertigt, die aber leider nie zum Abschluss kamen. Dazu zählen ein 3D Bomberman Klon, ein 4-gewinnt Minispiel und ein mehr oder weniger komplexer 2D Karteneditor basierend aus Tiles und Sprites. Im zuge meiner Mitgliedschaft bei RPdev werde ich aber diese Spiele fertigstellen und zum Download anbieten.</p>
<p><strong>Und nun soll alles anders werden....</strong><br />
Mit RPdev haben sich zwei Mächte vereint, deren Kraft die Welt verändern soll. Junges Schöpfergenie trifft auf kreativen Ideenheld. Unsere jüngste Planung des Spiels (geheim ;-)) hat schon Hunger bemacht auf die Verwirklichung. Hier sind große Kräfte am Werk es gilt sie nur zu kontrollieren..... Auf in ein Abenteuer</p>
