---
layout: post
title: Flyff DataMob
date: 2009-04-02 21:46:11.000000000 +02:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
---
<p>Heute schreiben wir den 2.4.2009 und nach ca 1 Tag Planung und 3 Nächten Programmierung wird die erste Demoversion von Flyff DataMob zum Download angeboten. Es soll eine globale und vor allem dynamische Zusammenfassung für alle Mobs und ihre korrespondierenden Drops darstellen und somit die Spieleffizienz erhöhen.</p>
<p><!--tableofcontents--></p>
<h1>Informationen</h1>
<p>Flyff DataMob soll sowohl jungen und unerfahrenen Spielern helfen, als auch schon eingefleischteren. Es bietet eine <strong>möglichst komplette</strong> Liste der im Spiel vorhandenen Mobs und eine wohl hoffentlich noch komplettere Liste der Drops, die von dem jeweiligen Mob erhältlich sind. Somit soll nicht nur eine dynamische Datenbank aller Drops entstehen - nein mehr noch - soll ein Preisguide entstehen, denn für ein Drop kann ein aktueller Marktpreis angegeben werden, welcher sich einerseits an den NPC-Preisen, aber auch an den privaten Shops orientieren kann. Somit ist die lästige Frage nach dem Preis eines Drops wohl überflüssig?! Das wird sich zeigen, wie es in der Community aufgenommen wird.</p>
<h1>Features</h1>
<p>Die Anwendung sieht aus wie folgt:<br />
<a href="{{ site.baseurl }}/assets/screenshot-300x163.png"><img class=" size-medium wp-image-9 alignnone" src="{{ site.baseurl }}/assets/screenshot-300x163.png" alt="screenshot" width="300" height="163" /></a></p>
<p><strong>Aktuell implementierte Features</strong></p>
<ul>
<li>Extrahieren der nötigen Mobdaten (Lebenspunkte, Level)</li>
<li>Extrahieren aller bekannten Drops</li>
<li>Angabe eines aktuellen Martkwertes zu jedem Drop</li>
</ul>
<p><strong>Geplante Features</strong></p>
<ul>
<li>Auswahl eines Servers, da der Marktweit zum Teil Serverabhängig ist</li>
<li>Suchfunktion um zu einem Drop die Liste der zugrhörigen Mobs zu erstellen</li>
<li>Angabe der Dropwahrscheinlichkeit</li>
<li>Exportfunktion für Mobdaten und Dropdaten</li>
<li><strong>Liste komplettieren</strong></li>
</ul>
<h1>Anliegen</h1>
<p>Die Liste ist nicht komplett! Wir stehen gerade mal am Anfang, es sind derzeit 3 Mobs akzeptabel registriert und bei insgesamt über 100 bekannten Mobs ist das nicht gerade viel. Daher sei jeder aufgerufen, der sich berufen fühlt, zu helfen, diese Liste zu vervollständigen. Das heißt, wenn uns jemand Daten zukommen lassen möchte, kann er dies tun, entweder über <a href="http://forum1.onlinewelten.com/showthread.php?p=6244249#post6244249">diesen Forumsthread</a> oder per mail stefan@rpdev.net oder auch per icq 395667854. Eine offizielle Mailadresse ist unter flyffmobdata@web.de erreichbar und sollte bitte gegenüber stefan@rpdev.net bevorzugt werden. Da kann man seine Hilfe anbieten, bzw Feedback geben. Mehr dazu unter Feedback. Uns reicht erstmal ein bereiterklären aus: Genauere Informationen, was getan werden kann, geben wir dann privat weiter. Keine Sorge, es werden keine Programmierkenntnisse benötigt, sondern lediglich sehr viel Wissen über Flyff. Wir hoffen hiermit auf etwas Unterstützung^^ Mehr als ein herzlichstes Erwähnen in den Credits kann ich aber leider nicht anbieten ;-)</p>
<h1>Download</h1>
<p>Zur Zeit (Stand: 02.04.2009) ist eine kleine Demo verfügbar, in der 3 Mobs (Small Aibatt, Aibatt und Captain Aibatt) und ein paar Drops, von denen ich mir die Werte, wie Preis und Beschreibung, ausgedacht habe, aufgelistet sind. Sie soll lediglich einen Einblick geben, wie das Tool funktioniert und eventuell Helfer anlocken, die sich an der Verbesserung und Vervollkommnung beteiligen wollen. Das heißt demnächst wird eine erste offizielle Liste nachgereicht.<br />
Ihr könnt das Archiv <a href="http://www.rpdev.net/downloads/index.php?act=category&amp;id=8">"Flyff DataMob.zip"</a> in unserem <a href="http://www.rpdev.net/downloads/index.php">Download Center</a> herunterladen. Darin befinden sich die ausführbare Datei "Flyff DataMob.exe" und die Datenbank "flyff.dat". Diese Datenbank muss sich im selben Verzeichniss befinden wie die exe und darf nicht umbennant werden, sonst gibts Probleme ;-)</p>
<h1>Feedback</h1>
<p>Natürlich stehen wir für Kritik, Lob, Anregung, böse Fehlerchen im Programm und sonstige Kommentare, sofern sie bestimmten Kriterien bezüglich der Höflichkeit (^^) entsprechen, offen entgegen. Am liebsten ist uns der "postalische" Weg, via mail (stefan@rpdev.net oder flyffmobdata@web.de) bzw ICQ (395667854). Scheut euch nicht, denn nur durch Feedback, können Dinge verbessert oder optimiert werden. Wir sind auch offen, für Meinungen, die in die Richtung gehen:"So was brauchen wir nicht, es ist doch sinnlos". Denn auch das ist Feedback und gibt uns eine Rückmeldung, wie viel Mühe wir darein stecken sollten ;D</p>
<h1>Schlusswort</h1>
<p>Damit dürfte alles gesagt sein. Wir hoffen es nutzt jemandem, ich jedenfalls werde es bestimmt pflegen und zum Spielen verwenden, hilft es doch so manches mal, wenn man etwas bestimmtes sucht, das Finden zu verkürzen. In diesem Sinne, viel Spaß damit wünschen wir Paaralyse und Jumino (beide Server Luia)~~</p>
