---
layout: post
title: Sneak Preview TownDefender [UPDATED]
date: 2010-12-28 14:25:52.000000000 +01:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
---
<p>Currently I'm working on a project. Till now nothing is post about it here. And it won't gonna change the next days, so that I can focus on working on the project. Anyway here is a little preview ...<br />
<!--break--><br />
<a href="{{ site.baseurl }}/assets/towndefenderbanner-300x164.png"><img class="aligncenter size-medium wp-image-34" src="{{ site.baseurl }}/assets/towndefenderbanner-300x164.png" alt="towndefenderbanner" width="300" height="164" /></a></p>
<p>This is a sample, where the game takes place. It was created with a map editor, which creates (at least by now) orthogonal, isometric and hexagonal maps at any dimension. The player can use the map editor too, so that anybody can create maps like this above. And this is only the peak, so stay tuned for the next sneak preview ;)</p>
<p><strong>Updated 29.12.2010</strong></p>
<p>This is another arkwort:</p>
<p><a href="{{ site.baseurl }}/assets/watchtower-300x164.png"><img class="aligncenter size-medium wp-image-35" src="{{ site.baseurl }}/assets/watchtower-300x164.png" alt="watchtower" width="300" height="164" /></a></p>
<p>It shows a simple watchtower firing off its arrows. Besides are some information about that tower like strength or price.</p>
