---
layout: post
title: Developing an intelligent agent for RPGBomber2009 - more detailed version
date: 2010-07-24 14:35:06.000000000 +02:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
---
<p>[img_assist|nid=286|desc=|link=none|align=center|width=480|height=120]</p>
<p>Hi there,</p>
<p><a href="http://www.rpdev.net/home/node/355">as promised</a> I want to give you a look behind the curtains of intelligent playing. Before that you have to know something 'bout artificial intelligence in general.<br />
<!--break--></p>
<h1>Artificial Intelligence</h1>
<p>Artificial Intelligence (AI) is a branch of computer science, which aims to let unintelligent systems act like human or other intelligent races. Such a system is a so called intelligent agent (ia). So what we develop is an ia, which should be as good as a normal player. An ia has a specific perception, which lets him know something about his environment and effectors, which enables him to perform actions, which interact with this envorinment. Equipped with that, our ia should be able to marry well.</p>
<h1>Actions</h1>
<p>Here are all the basic actions a bomberman can perform:</p>
<ul>
<li>Walk to a specific point</li>
<li>Drop a bomb</li>
<li>Do nothing/Stay still</li>
</ul>
<h1>Perception</h1>
<p>The ia, lets call him bob (<strong>bo</strong>mberman <strong>b</strong>ot)... So bob needs some special information to know what to do next. This includes:</p>
<ul>
<li>position and status of himself</li>
<li>position and status of all the other players</li>
<li>status of the game map</li>
</ul>
<p>This is exactly the information a human player needs to keep up with the other players in the game. So now bob can find out some very usefull things, e.g. which way he should take or what player he should attack first.</p>
<h2>Pathfinding</h2>
<p>His integrated pathfinding module tells bob, which way is the best. The <em>best</em> means not necessarily the shortest path, but the safest one. So usually the so created path might be without any bombs or explosions.</p>
<p>The algorithm of trust is <a href="http://en.wikipedia.org/wiki/A*_search_algorithm">A*</a>. It's easy to implement and doesn't use to much cpu usage - predestinated to make realtime decisions. Now as we know, how to get to an enemy an item or to anywhere on the map, we have to face to the next item of our todo-list.</p>
<p><a href="{{ site.baseurl }}/assets/twopaths-300x124.png"><img class="aligncenter size-medium wp-image-26" src="{{ site.baseurl }}/assets/twopaths-300x124.png" alt="twopaths" width="300" height="124" /></a></p>
<h2>Enemy detection</h2>
<p>If there are more than one other players on the map, bob has to decide which one he should attack first. As you might guess, attacking the nearest one is not really intelligent game playing, as you disregard all information you gained beforehand. Anyway bob has a more complex way to decide which one he should attack.</p>
<p>There is one rule of thumb: The nearer a player is to bob, the more angrier he gets. Cause the player, which is next to him can attack him with his bombs. So a player next to him is more dangerous than anyone, which is far away. So this is one criterion for his decision. Another criterion is the status of the player. The less healthpoints another player has, the easier is it to kill that player. So the finally choice is a realtionship of the two createria.</p>
<p><a href="{{ site.baseurl }}/assets/gegner-300x231.png"><img class="aligncenter size-medium wp-image-25" src="{{ site.baseurl }}/assets/gegner-300x231.png" alt="gegner" width="300" height="231" /></a></p>
<h2>Decision making</h2>
<p>Now bob needs to know what action might be the best. So we need to use an algorithm, which tells bob, what action is how usefull. Before we can do that, we have to remember that the game is called <strong>RPG</strong>Bomber2009. Bob has healthpoints, that means he can endure some pain to kill another player. And he will. Bob balances pros and cons of each action (hiding from bombs, attacking an opponent, getting some items) and chooses dynamically between an offensive and a more devensive strategy.</p>
<h1>Summary</h1>
<p>This is a more detailed approach indeed, but the most detailed paper I wrote is attached to this article. For those who are interested: have a look :) But may I have your attention please: This article is completely in GERMAN. But I hope there will be a english version rather soon.</p>
