---
layout: post
title: Developing an intelligent agent for RPGBomber2009
date: 2010-07-18 14:55:14.000000000 +02:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
---
<p>Hi there,</p>
<p>after a long break (much longer than wanted &lt;.&lt;) developing RPGBomber2009 I developed some artificial intelligence relating stuff. I don't want to talk about that in detail, well at least not now, couase I have not that much time these days... But I want to post a little video to give you some impressions of what you have to expect &gt;:-) Anyway, this video contains a big mistake in the behavior of the agent. I think it speaks for itself. Have a look:</p>
<p>https://www.youtube.com/watch?v=CJ67DDx6rRs</p>
<p>Anyway... I more detailed article about the desiogn and implementation of the agent, will follow up rather soon. So stay tuned ;)</p>
