---
layout: post
title: 'Anleitung: Torpia Combat Analyzor'
date: 2010-12-21 21:38:36.000000000 +01:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
---
<p>Endlich wurde der Torpia Combat Analyzor (zumindest in einer ersten Version) fertig gestellt. Enthalten sind ein Editor zum Pflegen der Kampfdaten, welche als XML abgelegt werden und der Analysator, der die Daten anhand der vorher geschriebenen Formel abgleicht und grafisch aufbereitet.</p>
<p>Dieses Tool soll helfen hinter das Kampfsystem von <a href="http://www.torpia.de/">Torpia</a> zu kommen. Dazu werden eine große Anzahl an Kampfberichten gesammelt und eine Formel entwickelt. Der Analysator gleicht die berechneten Daten mit den ermitellten Daten ab und gibt einen Umriss wie nah man sich an der Lösung befindet.<br />
<!--break--><br />
<!--tableofcontents--></p>
<h1>Download</h1>
<p>Die aktuelle Version ist in unserem <a href="http://www.rpdev.net/downloads/index.php?act=category&amp;id=16">Downloadmanager</a> zufinden. Zum Download stehen derzeit eine statische und eine dynamische gebaute Variante bereit. Ab Windows Vista kann es zu Side-by-Side-Konfigurationsfehlern kommen aufgrund von Schwierigkeiten die richtige Dll zu laden. Sollte es zu diesen Fehlern kommen sollte man sich die statische Variante herunterladen, in der alle Dlls (statisch) in die Exe einkompiliert wurden.</p>
<h1>Inhalt</h1>
<h2>Kampfdatenbank</h2>
<p>Die Kampfdatenbank ist relativ selbsterklärend. Man hat eine Eingabemaske vor sich, von der wir glauben, dass diejenigen Daten für die Brechnung der Verluste eines Kampfes relevant sind. Man hat die Möglichkeit weitere Verteidiger hinzuzufügen oder diese auch wieder zu löschen. Sollten alle Einheiten eins Spielers gefallen sein, so kann man die entsprechende Checkbox anklicken und die Verluste automatisch anpassen lassen. Hat man alle Daten korrekt eingetragen, so speichert man diese ab und trägt den nächsten Kampfbericht ein.</p>
<p><a href="{{ site.baseurl }}/assets/torpia1-300x225.png"><img class="aligncenter size-medium wp-image-28" src="{{ site.baseurl }}/assets/torpia1-300x225.png" alt="torpia1" width="300" height="225" /></a></p>
<p>Sind irgendwelche Daten nicht bekannt so sind diese mit "-1" zu bezeichnen. Sollten also Berichte mit unvollständigen Informationen vorliegen, so können diese gesondert behandelt werden um nicht die Daten zu verfälschen.</p>
<p>Aus diversen Gründen wurden die Grafiken durch Bezeichners ausgetauscht, da diese nicht unbedingt für sich selbst sprechen, folgt hier eine Legende:</p>
<ul>
<li>Axe - Axtkämpfer</li>
<li>Hand - Bogenschütze</li>
<li>Bow - Armbrustschütze</li>
<li>Swor - Schwertkämpfer</li>
<li>Pike - Lanzenkrieger</li>
<li>Hob - Lanzenreiter</li>
<li>Knig - Ritter</li>
<li>Ram - Rammböcke</li>
<li>Man - Mangonele</li>
<li>Treb - Trebuchet</li>
<li>Wall - Mauer</li>
<li>Towe - Turm</li>
</ul>
<h2>Analysator</h2>
<p>Zuerst wählt man sich die entsprechende Formel aus (Wie man eine eigene Formel erstellt sieht man hier!), woraufhin alle Daten mit der ausgewhälten Formel ermittelt werden.</p>
<p><a href="{{ site.baseurl }}/assets/torpia3-300x225.png"><img class="aligncenter size-medium wp-image-30" src="{{ site.baseurl }}/assets/torpia3-300x225.png" alt="torpia3" width="300" height="225" /></a></p>
<p>Im oberen Bereich sieht man die globale Abweichung in allen Fällen. So bekommt man einen Grobüberblick, wie stark die Unterschiede zwischen bestehenden und berechneten Daten sind. Entsteht eine sehr flache Kurve mit wenigen Schwankungen sind die Abweichungen sher gering. Zeigt die Kurve ein schwankendes und sehr ausuferndes Verhalten scheint man sich wohl auf dem Holzweg zu befinden. Abbildung 2 zeigt eine Formel, die relativ ungenau berechnet.</p>
<p><a href="{{ site.baseurl }}/assets/torpia4-300x225.png"><img class="aligncenter size-medium wp-image-31" src="{{ site.baseurl }}/assets/torpia4-300x225.png" alt="torpia4" width="300" height="225" /></a></p>
<p>Man wählt sich nun einen speziellen Fall aus und untersucht die Daten für den einzelenen Fall um ein genaueres Bild von der Sache zu bekommen. Entweder man hovert über der Kurve oder klickt auf den gewünschten Fall. Rechts unten sieht man eine Übersicht der ermittelten und tatsächlichen Werte. Dabei gilt folgende Notation:</p>
<ol>
<li>Blau: Tatsächliche Verluste des Angreifers</li>
<li>Hellgrün: Berechnete Verluste des Angreifers</li>
<li>Orange: Tatsächliche Verluste der Verteidiger</li>
<li>Türkis: Berechnete Verluste der Verteidiger</li>
</ol>
<p>Links daneben sieht man die Daten grafisch aufbereitet - für die, die eher der visuelle Typ sind ;) Man kann dabei noch entweder Angreifer oder Verteidiger ausblenden um nicht durcheinander zugeraten.</p>
<h1>Feedback</h1>
<p>Für Fehler, Kritik, Lob, Verbesserungsvorschläge etc... ist immer Platz. Gern gesehen natürlich hier im Forum, als Kommentar zum Download oder an stefan[at]rpden[dot]net. Bei Fehlern bitte eine aussagekräftige Beschreibung und Version der Anwendung (Versionsnummer und dynamisch/statisch).</p>
