---
layout: post
title: ''
date: 2010-06-01 15:56:46.000000000 +02:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
---
<p>Hey there,</p>
<p>its been a while since my last post and indeed I've been pretty lazy in the last few weeks. Anyway I thought it's ncei to come up with some theoterical work 'bout artificial intelligence in a bomberman like game. As you might know I'm developing an own bombermonclon called <a href="http://www.rpdev.net/home/rpgb2009">RPGBomber2009</a>. Of course there is a special need for intelligence in the single player mode. But how do we start with such a big topic. Maybe at the beginning.</p>
<h1>What is artificial intelligence</h1>
<p>Artificial Intelligence (AI) is basicly the approch to act like a system, which we know is intelligent. There is no real common definition of intelligence, so it is also hard to put AI in a box. But in general we describe human or human like behavior, e.g. solving problems on your own or make decisions freely, as intelligent. Anyway intelligent behavior are also decisions, which leads to the most succes. A system which tries to be intellient as I described it above is called intelligent agent (IA).</p>
<h1>What is a so called intelligent agent</h1>
<p>An IA is a system which tries to react in an intelligent behavior. To make that it needs knowledge about his envirnment, which we call perception. Depending on his perception and his further knowledge the agent makes a decision and performs an action. This action interacts with the environment and affects the agents future behavior.</p>
<p><a href="{{ site.baseurl }}/assets/agents-300x118.png"><img class="aligncenter size-medium wp-image-16" src="{{ site.baseurl }}/assets/agents-300x118.png" alt="agents" width="300" height="118" /></a></p>
<p>The agent gets the internal state of his environment. On basis of this perception the agent runs through a complex decision making algorythm and returns an action, which updates the environment.</p>
<h1>What does a IA for bomberman need?</h1>
<p>Lets take a look at the content itself. What is the environment in this special case? We have a 2D-map as our playing field. It is divided into tiles, which can carry special items like a bomb, a bomberman, goodies, treasures, borders and so on. Our IA is the bomberman.</p>
<h2>Percpetion</h2>
<p>So what does a bomberman perceive? Let's modify the question in that way: What do we see, when we play such a game?</p>
<p>We perceive:</p>
<ul>
<li>the playing field</li>
<li>ourself</li>
<li>all opponents</li>
<li>treasures and borders</li>
<li>goodies</li>
<li>bombs</li>
</ul>
<p>If we want to create a human like playing bomberman, we only need to simulate a human, that meens we also provide the same view (from a human) for the IA.</p>
<h2>Action</h2>
<p>Now that we know, what we will see in the game, we have to think about, what we can do as a bomberman and of course how do we find out, which the best action should be. A bomberman is able to do the following actions:</p>
<ul>
<li>walk</li>
<li>stay still</li>
<li>drop a bomb</li>
</ul>
<p>But how do we know, which action the bomberman should perform to get the most effort? Or in other words, what does a bomberman has to consider if he wants to do the best action?</p>
<h3>Path-finding</h3>
<p>Of course he has to find the best way to that point he wants to gather. But what is the best way in such a case? The shortest one, the safest one?</p>
<p>//todo</p>
<h3>Enemy-Detection</h3>
<p>//todo</p>
<h3>Decision-Making</h3>
<p>//todo</p>
<div></div>
<p>&nbsp;</p>
