---
layout: post
title: Irrlicht - From Noob to Pro
date: 2011-03-21 16:10:20.000000000 +01:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
---
<p>Ein Hallo an alle <strong>deutschen</strong> Irrlichtnutzer (da es leider noch keine Übersetzungs ins Englische gibt). Vor einiger Zeit gabs doch dieses ziemlich coole Wikibuch <a href="http://de.wikibooks.org/wiki/Irrlicht_-_from_Noob_to_Pro">Irrlicht - From Noob to Pro</a>, welches von OnkelTorty und Close1 geschrieben wurde. Jedenfalls hatten die ziemlich gute Artikel geschrieben und dann irgendwann, brach das ganze ab, vermutlich aufgrund von Zeitmangel.</p>
<p>Seit März 2011 haben sich aber zwei neue Autoren gefunden, die das Buch weiterschrieben wollen. Heißt im Klartext: neues Cover, neues Layout und neuer Inhalt. Derzeit sind 3 große Kapitel geplant. Das erste beschäftigt sich mit Einsteigersachen, z.B. wie man Irrlicht einrichtet, ein "Hello World"-Programm und solche Dinge eben.</p>
<p>Teil zwei beschäftigt sich mit Irrlicht in Bezug auf die Spieleprogrammierung. Wie optimiere ich meine Dateizugriffe, wenn ich einen TexturManager verwende oder wie kann ich Anwendungseinstellungen speichern und laden?</p>
<p>Teil drei soll Highlight werden. Es soll eine komplette Tutorialreihe über die Entwicklung eines mehr oder weniger einfachen Spiels entstehen. Vom Projektbeginn, bis hin zu abschließenden Dingen wie das Modding soll der Leser an die Hand genommen werden (mit downloadbarem Quellcode). Derzeit ist noch nicht sicher, welches Spiel umgesetzt werden soll, also (nicht nur deswegen) bleibt gespannt auf die nächsten Veröffentlichungen dieses Buches:  </p>
<p><a href="http://de.wikibooks.org/wiki/Irrlicht_-_from_Noob_to_Pro"><img src="{{ site.baseurl }}/assets/irrcover3d.png" alt="irrcover3d" width="424" height="559" class="aligncenter size-full wp-image-39" /></a></p>
