---
layout: post
title: The new german Irrlicht board
date: 2011-07-15 11:47:57.000000000 +02:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
---
<p><a href="http://www.irrlicht-engine.co.de"><img src="{{ site.baseurl }}/assets/irrlicht_logo_new.png" alt="irrlicht_logo_new" width="324" height="116" class="alignleft size-full wp-image-44" /></a></p>
<p>After a few weeks of hesitating we finally did it. Since the official german Irrlicht community was raided by bots (that is actually pretty annoying...) we founded a new community, cause we noticed that there is still need for it.<br />
<!--break--><br />
I'd like to introduce: <a href="http://www.irrlicht-engine.co.de">Irrlicht-engine.co.de</a> It's still not finished after all, since there is no real ending for a community. Some things are always in progress, so if you'd like to do your part, we're glad if you'd do so ;) Create an account and be part of it. See you there!</p>
