---
layout: post
title: Neue deutsche Irrlicht Community
date: 2011-07-15 11:41:18.000000000 +02:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
---
<p><a href="http://www.irrlicht-engine.co.de"><img src="{{ site.baseurl }}/assets/irrlicht_logo_new.png" alt="irrlicht_logo_new" width="324" height="116" class="alignleft size-full wp-image-44" /></a></p>
<p>Nach langem hin und her haben wirs dann doch gewagt. Da das offizielle deutsche Irrlichtboard schon seit fast einem Jahr konstant durch Bots garaided wird aber dennoch der Bedarf nach einer deutschen Irrlicht-Community da zu sein scheint, geht ein neues Board ins rennen.<br />
<!--break--><br />
Wir dürfen vorstellen: <a href="http://www.irrlicht-engine.co.de">Irrlicht-engine.co.de</a> Es ist noch nicht perfekt (wirds auch nie sein), aber eine Community wird ja besser in dem sie wächst, da hier stetes Angebot-Nachfrage-Prinzip herrscht. Wer also aktiv teilnehmen und verbessern will sei herzlichst eingeladen mit zu wirken ;)</p>
<p>Wir sehen uns da!</p>
