---
layout: post
title: Irrlicht - From Noob to Pro
date: 2011-03-20 16:02:47.000000000 +01:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
---
<p>Hey there <strong>GERMAN</strong> Irrlicht user (since there is no translation into english yet). Long time ago there was that cool Wikibook called <a href="http://de.wikibooks.org/wiki/Irrlicht_-_from_Noob_to_Pro">Irrlicht - From Noob to Pro</a> written by OnkelTorty and Close1. After a bunch of good and informative articles, they had less time and the book was rather closed.</p>
<p>But since march 2011 two new authors were found. That means new cover, new structure and new content. The book will contain 3 main chapter. The first one (First steps using Irrlicht) will deal with the starting stuff, like setting up the IDE for Irrlicht, writing a Hello World Program and stuff like that.</p>
<p>The second chapter (Gameprogramming with Irrlicht) will give some more advanced topics like how you can improve your application by using a Texture Manager or how you can store and load Application Settings, which might be pretty usefull.</p>
<p>And the third chapter will be the eye catcher. It describes the whole way of writing a game in Irrlicht. The authors aren't sure by now which game it will be, so stay tuned for any new article of this Book:</p>
<p><a href="http://de.wikibooks.org/wiki/Irrlicht_-_from_Noob_to_Pro"><img class="aligncenter size-full wp-image-39" src="{{ site.baseurl }}/assets/irrcover3d.png" alt="irrcover3d" width="424" height="559" /></a></p>
