---
layout: post
title: Rails rumble 2015
date: 2015-11-14 17:01:32.000000000 +01:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags:
- challenge me
- contest
- rails rumble
- ruby on rails
---
<p>Hi @all,</p>
<p><strong>EDIT: </strong>We ranked 9th in the rails rumble. Not bad for first timers, I guess... I crunched some numbers and will post them soon.</p>
<p>those who do not follow my <a href="https://twitter.com/dasheck" target="_blank">twitter account</a> (you certainly should :P) maybe missed that I participated in the 2015 rails rumble contest. The rails rumble is a 48 long contest for developers to show everybody what they are capable of and who is the best. The best entry gets determined by the votes of so called judges, which are basically the contestants themselves. This can also be read <a href="http://blog.railsrumble.com/rules/" target="_blank">here</a>. At the point of writing this the results were not out yet, so I will edit this probably once they are open to the public.</p>
<p>The intention of this post is to tell about our project and to share my experience. First of all I did not participate as a solo entry but as a team entry consisting of 4 members namely Sebastian and Philip Stapefeldt, Ralph-Gordon Paul and myself. We all work together with appcom interactive and thus know each other very well. We also have a pretty disjunct skill set meaning that we complement each other pretty well. While Sebastian is a very talented <a href="https://dribbble.com/carlhauser" target="_blank">designer</a> Philip is a not less talented front end developer experienced in many javascript frameworks. Gordon was more or less the administrative guy and also writing parts of the backend. The rest of the backend was written by me, which gave us the opportunity to share only a minimum of code and thus hold the continuity of the flow high.</p>
<hr />
<p>&nbsp;</p>
<p><a href="{{ site.baseurl }}/assets/Screenshot-from-2015-11-14-180538-300x163.png"><img class=" wp-image-63 aligncenter" src="{{ site.baseurl }}/assets/Screenshot-from-2015-11-14-180538-300x163.png" alt="Screenshot from 2015-11-14 18:05:38" width="392" height="213" /></a></p>
<hr />
<p>The idea we realized can be described in two words <a href="http://challengeme.r15.railsrumble.com/" target="_blank">challenge me</a>. Everyone in this world is confronted with challenges day in day out. For the most of us these challenges are implicit and not noticeable like "Keep my flat tidy" or "Save up money to buy [...]", while other challenges are more prominent and meaningful like "I want to beat cancer" or "I want to loose weight and eat healthier". However as recent studies showed challenges are more likely to completed if you do them together. Feedback by others generate a synergy effect helping us to hang in, when dealing with challenges get out of hand. Also viewing other people undergoing the same struggles you do keeps you sane and gives you a feel of not being all alone. This is where challenge me comes into play.</p>
<p>On challenge me you can create challenges and/or participate in challenges created by others. Once you do so you create a so called "story", where you can tell your progress in completing the challenge. Story entries are displayed as blog or diary entries and can be read by others. Other viewers can like your story or comment on entries giving you feedback and thus helping you to pull through. When following other stories you get notified when there is something going on (like a new story entry). Please note that the current version of challenge me is not very stable since the whole code stems from a 48 hour hackaton. So if you find a bug once in a while do not hesitate to <a href="mailto:stefan@rpdev.net" target="_blank">tell us. </a></p>
<p>However we are planning to turn challenge me into an actual working version. Also we're going to add more features rather soon to add more functionality. As this project progresses I will add more blog posts to keep you updated. Maybe this is a good time to follow also <a href="https://twitter.com/railsrave" target="_blank">railsrave</a>. This as a twitter account purely created for this contest.</p>
<p>We added a raspicam, which took a snapshot every hour, which was uploaded to twitter automatically. Additionally the cam took a snapshot every 2 minutes, which was condensed into a timelapse, which also turned out pretty great. All in all the whole rails rumble experience was worth having. We are looking forward to participate again next year competing against the best of the best. Maybe also against you?</p>
